<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.atayun.bazooka.upms.biz.dal.dao.UserRoleMapper">

    <delete id="deleteByUserId" parameterType="long">
        delete from upms_user_role where user_id = #{userId,jdbcType=BIGINT}
    </delete>

    <select id="getRoleByUserId" parameterType="long" resultType="net.atayun.bazooka.upms.api.dto.rsp.UserRoleRspDTO">
        select
        ur.id roleId,
        ur.role_name roleName
        from upms_user_role uur
        inner join upms_role ur on uur.role_id = ur.id
        where uur.user_id = #{userId,jdbcType=BIGINT}
    </select>

    <select id="countByUserIdRoleType" resultType="java.lang.Integer">
        select count(1)
        from upms_role ur inner join upms_user_role uur on ur.id = uur.role_id
        where uur.user_id = #{userId} and ur.id = #{roleType}
    </select>
</mapper>