<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.atayun.bazooka.pms.biz.dal.dao.PmsProjectEnvRelationMapper">
    <select id="selectProjectNotDelete" resultType="net.atayun.bazooka.pms.biz.dal.entity.PmsProjectEnvRelationEntity">
       select pe.*
       from pms_project_env_relation pe inner join pms_project_info pi on  pe.project_id=pi.id
      where pi.is_deleted=0 and pe.env_id=#{envId}
    </select>


</mapper>